body{
    color: black;
    font-family: arial;
}

#etchDiv #mainContainer #tasksDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#etchDiv{
    background-color: grey ;
    border: 45px solid rgba(255, 255, 255, 0.865);
    border-radius: 20px;
    width: 860px;
    height: 860px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
#tasksDiv{
    background-color: rgba(255, 255, 255, 0.865);
    border: 20px solid white;
    padding: 10px;
    width: 300px;
    height: auto;
    justify-content: flex-start;
    align-content: flex-start;
}
#mainContainer{
    display:flex;
    flex-direction: row; 
    justify-content: space-around;
    align-content: flex-start;   
}
#size{
    margin-left: 141px;
}
#welcome{
    widows: 20px;
    height: 20px;
}
.btns{
    margin: 5px;
    padding: 5px;
}
.blocks{
    width: 54.375px;
    height: 54.375px;
    background-color:  rgb(209, 203, 203);
    text-align: left;
    font-family: Arial;
}



